@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?cqv3ou');
  src:  url('fonts/icomoon.eot?cqv3ou#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?cqv3ou') format('truetype'),
    url('fonts/icomoon.woff?cqv3ou') format('woff'),
    url('fonts/icomoon.svg?cqv3ou#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-pencil:before {
  content: "\e905";
}
.icon-image:before {
  content: "\e90d";
}
.icon-images:before {
  content: "\e90e";
}
.icon-camera:before {
  content: "\e90f";
}
.icon-music:before {
  content: "\e911";
}
.icon-film:before {
  content: "\e913";
}
.icon-price-tag:before {
  content: "\e935";
}
.icon-price-tags:before {
  content: "\e936";
}
.icon-location:before {
  content: "\e947";
}
.icon-display:before {
  content: "\e956";
}
.icon-mobile:before {
  content: "\e958";
}
.icon-undo2:before {
  content: "\e967";
}
.icon-stats-bars:before {
  content: "\e99c";
}
.icon-list2:before {
  content: "\e9bb";
}
.icon-cloud-download:before {
  content: "\e9c2";
}
.icon-star-empty:before {
  content: "\e9d7";
}
.icon-star-full:before {
  content: "\e9d9";
}
.icon-table2:before {
  content: "\ea71";
}
.icon-google2:before {
  content: "\ea89";
}
.icon-sina-weibo:before {
  content: "\ea9a";
}
.icon-steam2:before {
  content: "\eaad";
}
.icon-github:before {
  content: "\eab0";
}
.icon-appleinc:before {
  content: "\eabe";
}
.icon-android:before {
  content: "\eac0";
}
